body {
    font-family: Arial;
    background: #4169E1;
}

fieldset {
    text-align: center;
    color: gold;
    padding: 70px 0;
    height: 500px;
    width: 1000px;
    margin: auto;
    background-color: navy;
    border: none;
    box-shadow: 0 0 5px white;
    padding: 50px 35px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 50px;
}

input[type="submit"] {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: #5291ff;
    border: none;
    border-radius: 25px;
    outline: none;
    width: 250px;
    height: 100px;
    margin: 15px 0px;
    color: white;
    transition: 1s;
}

input[type="submit"]:hover {
    background: darkorange;
    transition: 1s;
}

input[type=text] {
    width: 75%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: solid 1px gray;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {background: #f1f1f1;}
    to {background: #ddd;}
}